# ignore
*.iml
*.ipr
*.iws
*.rdb
*.db
*.pyc
*.yaml
*.yml
*.json
*.csv
*.egg-info/
*.txt
*.bash
*.sql*
*.db*
*.log*
media/*.txt
.classpath
.idea/
target/
share/
lib/
local/
include/
bin/

# Not ignore 
!requirements.txt
