# ignore
/lib
classes
/native
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
*.zip
*.iml
*.ipr
*.iws
*.rdb
*.db
*.pyc
*.yaml
*.mo
*.backup
*.test
*.bkp
*.yml
*.json
*.csv
*.egg-info/
*.txt
*.bash
*.sql*
*.db*
*.log*
media/*.txt
.classpath
.idea/
target/
share/
build/
lib/
local/
include/
bin/

# Not ignore 
!requirements.txt
!clojure/sample/stadiums.csv
