# ignore
/lib
classes
/native
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
*.zip
.project
.settings
*.iml
*.ipr
*.iws
*.rdb
*.db
*.pyc
*.yaml
*.css
*.mo
*.backup
*.test
*.bkp
*.yml
*.json
*.csv
*.egg-info/
*.txt
*.bash
*.sql*
*.db*
*.log*
media/*.txt
.classpath
.idea/
target/
share/
build/
lib/
local/
include/
bin/
.hgignore
.hg/
python/google-python-exercises/babynames/*.html
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
bower_components/
# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile


# Not ignore 
!requirements.txt
!clojure/chat/bower.json
!clojure/sample/stadiums.csv
!java/lucene/pom.xml
!java/sample/pom.xml