PyYAML==3.11
argparse==1.4.0
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
boto==2.39.0
certifi==2016.2.28
docutils==0.12
filechunkio==1.6
lockfile==0.12.2
luigi==2.1.1
mrjob==0.5.0
protobuf==2.6.1
python-daemon==2.1.1
singledispatch==3.4.0.3
six==1.10.0
snakebite==2.8.2
tornado==4.3
wsgiref==0.1.2
